*.iml
.idea
.vagrant
target
project/project
.classpath
.project
.settings
.cache-main
.cache-tests
Californium.properties
.metadata
*.pid
logs
nb-configuration.xml
native
docker/upload-update.sh
aspectjweaver*.jar
*.log
*.pdf